/vendor
/app-assets
/bot
/demo
/files
/get_phone
/phpspreadsheet
/qr
/skript
/upload
/report/box
/core/lib
/core/template_viho/assets
/core/template_viho/logos
/core/template_med
/core/adminer.php
/core/adminer1.php
/core/backend.php
/core/backend_old.php
/core/mail.php
/account/ajax_old
/account/upload
/bot_test

/report/report_pdf/track_code_pdf/*
/report/report_pdf/mega_report_tg.php
/report/report_pdf/generate_pdf_func.php
/report/report_pdf/tg_shablon/otchet_admin.php
/report/report_pdf/tg_shablon/admin_users.php



/autoload.php
/test.php
/query_test.php
/parser.php
/log.txt
/qr_check.php